/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; 
}
/* general */
li{
  line-height: 30px;
  font-size: 14px;
  padding:3px 3px 3px 12px;
  border-radius: 3px;
}
td{
  float:left;
  line-height: 30px;
  font-size:14px;
}
.todo:hover{
  cursor:pointer;
  background-color: #363636;
}
.todo:hover + .info{
  background-color: #363636;
}
li:hover{
  cursor:pointer;
  background-color: #363636;
}
a{
  font-size: 16px;
  margin-left:14px;
}
.fa-plus{
  margin: 0px 14px;
}
hr.thin-task {
  height: 1px;
  border: 0;
  color: #333;
  background-color: rgba(255, 255, 255, 0.15);
  width: 550px;
  font-size: 10px;
  } 
hr.thin-project{
  height: 1px;
  border: 0;
  color: #333;
  background-color: rgba(255, 255, 255, 0.15);
  width: 220px;
}
.toggle{
  text-decoration: line-through;
  color: #79b92e;
}
.fa-plus{
  color: #de4c4a;
  cursor: pointer;
}
.fa-trash-alt{
  float:right;
  right: 9px;
  margin: 10px;
  position: absolute;
  color: rgba(255, 255, 255, 0.867);
  cursor: pointer;
}
.fa-circle{
  float:left;
  margin: 10px;
  left: 5px;
  font-size: 17px;
  border-radius: 50%;
  position: absolute;
  
}
.fa-circle:hover{
  background-color: #363636;
  cursor:pointer;
}
.fa-check-circle{
  float:left;
  margin: 10px;
  font-size: 17px;
  left: 5px;
  position: absolute;
  cursor: pointer;
}

.date{
  text-align: center;
  font-size: 11px;
  line-height: 10px;
  margin-top: 5px;
  color: #79b92e;
  float:right;
  padding: 0px 10px;
}
.flag{
  margin-right: 20px;
  cursor: pointer;
  font-size: 12px;
  line-height: 14px;
  text-align:center;
  float:right;
  color: rgba(255, 255, 255, 0.867);
}
.flag-toggle{
  cursor: pointer;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  float:right;
  color: #de4c4a;
}
.red{
  color: #de4c4a;
}
.right{
  float:right;
}
.left{
  float:left;
}
.logo{
  position:fixed;
  font-size: 80px;
  color: #de4c4a;
  top: 90px;
  right: 50px;
  z-index: 50;
}

/* full screen */
html{
  background-color: #1f1f1f;
  width: 100%;
  height: 100%;
  overflow-y: scroll

}
#content{
  background-color : #282828;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  overflow-y: scroll;
  
}
/* header */
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 34px;
  font-size: 20px;
  padding: 10px 0px;
  background-color : #282828;
  box-shadow: 0px 0.5px 3px 0px #1f1f1f;
  color: rgba(255, 255, 255, 0.867);
  float: left;
  height: 50px;
  z-index: 40;
}

.header-left{
  margin-left: 200px;
}

/* body */
.mainbody{
  color: rgba(255, 255, 255, 0.867);
  padding: 10px;
  margin: 10px;
}

.body-left{
  text-align: center;
  position: fixed;
  float: left;
  top: 10px;
  margin:auto;
  padding:140px 0px 0px 30px;
  background-color : #282828;
  height: 90%;
  width: 30%;
  z-index: 30;
  
}
.body-right{
  position: absolute;
  background-color: #1f1f1f;
  top: 0px;
  left: 35%;
  min-height: 100%;
  width: 50%;
  overflow: visible;
  padding:120px 50px 50px 50px;

  z-index: 20;
}

.left-container{
  position: absolute;
  margin-left: 130px;
  top:80px;
  text-align:left;
}


.right-container{
  float: left;
  margin: 0;
  
}

.project-header{
  padding-left: 15px;

}
.project-title{
  position:absolute;
  top:85px;
  font-size: 19px;
  width: 550px;
}
.project-h1{
  width: 500px;
}

.project-list{
  width: 230px;
  padding:10px;
  margin: 10px;
}
.add-project{
  padding-left: 15px;
  cursor:pointer;
  width: 150px;
  height:25px;
  line-height:30px;
}

.add-task{
  margin-bottom: 100px;
  cursor:pointer;
  width: 120px;
  height:25px;
  line-height:30px;
  
}

.todo-input.text{
  width:500px;
}

#todo-input {
  line-height:16px;
  font-size:15px;
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #333;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #171717;
  outline: none;
}

#todo-input, select {
  color:rgba(255, 255, 255, 0.867);
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #333;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #171717;
  outline: none;
}

input[type=submit] {
  float: left;
  width: 100px;
  background-color: #de4c4a;
  color: rgba(255, 255, 255, 0.867);
  padding: 10px 13px;
  margin: 2px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

input[type=button] {
  float: left;
  line-height:16px;
  font-size:13px;
  width: 75px;
  background-color: #1f1f1f;
  color: rgb(70, 68, 68);
  padding: 10px 10px;
  margin: 2px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.date-picker{
  color: rgba(255, 255, 255, 0.867);
  line-height:16px;
  width: 20%;
  font-size:14px;
  margin: 8px 0;
  padding: 12px 3px;
  background-color: #171717;
  border: 1px solid #333;
  outline: none;
  cursor: pointer;
}

input{float:left;}

.project-form{
  height: 100px;
  width: 300px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
  background-color : #282828;
  color : green;
  
}
#project-input{
  color:rgba(255, 255, 255, 0.867);
  line-height:16px;
  font-size:15px;
  width: 280px;
  padding: 12px 20px;
  margin: 10px;
  position : absolute;
  border: 1px solid #333;
  border-radius: 4px;
  background-color: #171717;
  outline: none;

}
#project-submit{
  position: absolute;
  margin: auto;
  float: right;
  bottom: 5px;
  right: 65px;
  width: 60px;
}
#cancel-button{
  width: 60px;
  position: absolute;
  margin: auto;
  background-color : #282828;;
  float: right;
  bottom: 5px;
  right: 0;
  padding: 0px;
  margin-bottom: 10px;
  
}

.fullscreen-container {

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(141, 141, 141, 0.5);
  z-index: 100;
}

.fa-minus-circle{
  margin-right:10px;
  cursor: pointer;
}

